/**
 *	=================================================================================================
 *
 *  [Main Stylesheet]
 *
 *	Project:		Kwiqpick Blog-v1.0
 *	Version:		1.0
 *	First change:	28/06/2017
 *	Last change:	04/07/2017
 *	File Name: 		blog.css
 *	Author: 		Kwiqpick Developers
 *  Description:    This file is containing all the basic styling of the website
 *                  except for Bootstrap, Font-awesome and Animate. For Bootstrap,
 *                  Font-awesome and Animate there are separate files. This file is
 *                  separated to make styling  easy and to be handled in quick way.
 *
=================================================================================================
 *
 *
 *	styles.css file is divided as the following:
 *
 *	( 01 ) - General Basics
 *	( 02 ) - Buttons
 *	( 03 ) - Header
 *	( 04 ) - Articles
 *	( 05 ) - Pagination
 *	( 06 ) - Widgets
 *	( 07 ) - Comments
 *	( 08 ) - Footer
 *	( 09 ) - Back to Top
 *	( 10 ) - Login
 *
 */


/**
 *	-------------------------------------------------------------------------------
 *	 ( 01 ) - General Basics
 *	-------------------------------------------------------------------------------
 *
 */
html {
    position: relative;
    min-height: 100%;
}

body{
    background: #F2F2F2;
    font-family: 'Merriweather', sans-serif;
    color: #444444;
    font-size: 16px;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Merriweather', serif;
}

a, a:hover{
    text-decoration: none;
}

ul, li{
    list-style: none;
}

img{
    width: 100%;
    height: auto;
}

.hasMargin{
    margin-left: 38px !important;
}

.button:hover,
button:hover,
input[type=button]:hover,
input[type=submit]:hover {
    text-decoration: none;
    background-color: #fff;
    color: #444444;
}

input[type=text]:focus{
    text-decoration: none;
    background-color: #ffffff;
    color: #444444;
    border-color: #F10000;
    box-shadow: none;
    outline: none;
}

form {
    position: relative;
}

.form-control{
    border-radius: 0;
    border-color: #cb202d;
}

form input[type=text],
form input[type=password],
form input[type=url],
form input[type=email] {
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    width: 93%;
    font-size: 14px;
    font-weight: 800;
    color: #444444;
    /*padding-left: 10px;*/
    padding-right: 30px;
    margin-bottom: 15px;
    outline: none;
    border-radius: 5px;
}
form textarea {
    border: 1px solid #e2e2e2;
    background-color: #ffffff;
    width: 100%;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    color: #333333;
    padding: 20px;
    min-height: 180px;
    outline:none;
    border-radius: 5px;
}

form textarea::-webkit-input-placeholder {
    color: rgba(51, 51, 51, 0.9);
}

form textarea:-moz-placeholder {
    color: rgba(51, 51, 51, 0.9);
}

form textarea::-moz-placeholder {
    color: rgba(51, 51, 51, 0.9);
}

form textarea:-ms-input-placeholder {
    color: rgba(51, 51, 51, 0.9);
}



/**
 *	-------------------------------------------------------------------------------
 *	 ( 02 ) - Buttons
 *	-------------------------------------------------------------------------------
 *
 */
.button{
    min-width: 160px;
    max-width: 160px;
    display: block;
    padding: 10px 20px;
    border: none;
    background: none;
    color: #444444;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}

.button:focus {
    outline: none;
}

.blog-button{
    margin-left: -40px;
    border: 2px solid #cb202d;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition: border-color 0.4s, color 0.4s;
    transition: border-color 0.4s, color 0.4s;
}

.blog-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 14px;
    background: #cb202d;
    z-index: -1;
    opacity: 0;
    -webkit-transform: scale3d(0.7, 1, 1);
    transform: scale3d(0.7, 1, 1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.blog-button:hover,
.blog-button:focus,
.blog-button:active{
    color: #fff;
    border-color: #cb202d;
    text-decoration: none;
}

.blog-button:hover::before {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.sidebar-button{
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #cb202d;
    border: 1px solid #cb202d;
    color: #ffffff;
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.sidebar-button:hover {
    background-color: #F10000;
    color: #FFFFFF;
}

.sidebar-button.button-color {
    background: #cb202d;
    padding: 12px 25px;
    position: absolute;
    right: -88px;
    top: -12px;
}

.sidebar-button.button-color:hover {
    background-color: #F10000;
    color: #ffffff;
}

.custom-buttons{
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #cb202d;
    border: 1px solid #cb202d;
    color: #ffffff;
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.custom-buttons:hover {
    background-color: #F10000;
    color: #FFFFFF;
}

.custom-buttons.button-color {
    background: #cb202d;
    padding: 12px 25px;
}

.custom-buttons.button-color:hover {
    background-color: #F10000;
    color: #ffffff;
}

.btn{
    font-size: 18.5px;
}

.btn-search{
    background-color: #cb202d;
    border-color: #cb202d;
    color: #ffffff;
}

.btn-search:hover,
.btn-search:active,
.btn-search:focus{
    background-color: #F10000;
    border-color: #F10000;
    color: #ffffff;
    outline: none;
}

@media (max-width: 991px) {
    .sidebar-button.button-color{
        right: -70px;
    }
}

/**
 *	-------------------------------------------------------------------------------
 *	 ( 03 ) - Header
 *	-------------------------------------------------------------------------------
 *
 */
#header{
    background: #cb202d;
    width: 100%;
    position: relative;
    display: block;
    margin-bottom: 10px;
}

#header .nav-container{
    background-color: inherit;
    /*border-top: 1px solid #e2e2e2;*/
    /*border-bottom: 1px solid #e2e2e2;*/
}

#header .main-navigation{
    float: left;
    padding: 20px 0;
}

.kwiqpick-logo img{
    width: 184px;
    height: 40px;
}

/**
 *	-------------------------------------------------------------------------------
 *	 ( 04 ) - Articles
 *	-------------------------------------------------------------------------------
 *
 */
.articles{
    margin-top: 40px;
}

article.article-item{
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #e2e2e2;
    background-color: #ffffff;
    position: relative;
    padding: 20px 0;
    border-radius: 5px;
}

article.article-item .enter-media{
    position: relative;
    padding: 0;
}

article.article-item .article-heading{
    padding: 30px 30px 0 20px;
}

article.article-item .article-heading h2{
    font-size: 28px;
    font-family: 'Merriweather', serif;
    font-weight: 600;
    line-height: 30px;
    padding: 0;
    margin: 0;
    text-align: justify;
}

article.article-item .article-heading h2 a{
    color: #444444;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

article.article-item .article-heading h2 a:hover{
    color: #cb202d;
    text-decoration: none;
}

.enter-date{
    padding: 0;
    margin-top: 15px;
    margin-bottom: 30px;
    width: 100%;
    height: 5px;
}

.enter-date ul{
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
}

.enter-date ul li{
    padding: 0;
    display: inline-block;
    margin: 0;
    font-size: 13px;
    line-height: 11px;
    letter-spacing: -0.3px;
    text-transform: uppercase;
    color: #888888;
}

.enter-date ul li a {
    color: #444444;
    text-decoration: none;
}

.enter-date ul li a:hover {
    color: #cb202d;
}

.enter-date ul li::after {
    content: '•';
    color: #e2e2e2;
    margin-left: 12px;
    margin-right: 12px;
}

.enter-date ul li:last-child::after {
    display: none;
}

article.article-item .article-body{
    margin-top: 20px;
    padding: 0;
}

article.article-item .article-body img{
    width: 100%;
    height: auto;
    padding: 0 20px;
}

article.article-item .article-body p {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    color: #444444;
    margin-top: 20px;
    text-align: justify;
}

article.article-item .article-footer{
    padding: 0 60px;
    margin: 26px 0 26px 0;
}

/*article.article-item .article-footer .share-social-article{*/
    /*margin-top: 15px;*/
/*}*/

.blog-tags{
    margin-left: -40px;
}

article.article-item .article-footer .blog-tags a {
    display: inline-block;
    font-size: 13px;
    line-height: 11px;
    font-weight: normal;
    color: #444444;
    text-transform: uppercase;
    border-radius: 26px;
    border: none;
    background-color: #D2D7D3;
    padding: 7px 13px;
    margin: 0 0 10px 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
}

article.article-item .article-footer .blog-tags a:hover {
    text-decoration: none;
    background-color: #6C7A89;
    color: #ffffff;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

article.article-item .article-footer .share-social-article a{
    font-size: 12px;
    text-decoration: none;
    color: #cb202d;
    display: inline-block;
}

article.article-item .article-footer .share-social-article a:hover{
    color: #F10000;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

article.article-item .article-footer .share-social-article a i {
    font-size: 15px;
    color: #ffffff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
}

.para-heading h4{
    color: #cb202d;
    font-size: 20px;
    font-weight: 600;
    padding-left: 26px;
}

.share-social-article{
    margin-right: -45px;
    float: right;
}

.share-social-article .fa-facebook{
    background-color: #3b5998;
    color: #ffffff;
}

.share-social-article .fa-facebook:hover,
.share-social-article .fa-facebook:active,
.share-social-article .fa-facebook:focus{
    background-color: #344e86;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.share-social-article .fa-linkedin{
    background-color: #0077B5;
    color: #ffffff;
}

.share-social-article .fa-linkedin:hover,
.share-social-article .fa-linkedin:active,
.share-social-article .fa-linkedin:focus{
    background-color: #4875B4;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

@media (max-width: 991px) {
    .article-body img{
        margin-top: 20px;
    }
}

/**
 *	-------------------------------------------------------------------------------
 *	 ( 05 ) - Pagination
 *	-------------------------------------------------------------------------------
 *
 */
.article-pagination{
    display: block;
    text-align: center;
    margin: 30px 0;
}

.article-pagination ul{
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.article-pagination ul li{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.article-pagination ul li .fa-chevron-right{
    font-size: 12px;
}

.article-pagination ul li a,
.article-pagination ul li span{
    font-size: 15px;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    letter-spacing: 1px;
    line-height: 40px;
    border: 1px solid #e2e2e2;
    color: #444444;
    text-align: center;
    -webkit-transition: border-color 0.4s, color 0.4s;
    transition: border-color 0.4s, color 0.4s;
}

.article-pagination ul li a:hover,
.article-pagination ul li a:focus,
.article-pagination ul li span{
    text-decoration: none;
    background-color: #cb202d;
    color: #ffffff;
    border-color: #cb202d;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.42,0,0.58,1);
    transition-timing-function: cubic-bezier(0.42,0,0.58,1);
}

.article-pagination .active{
    background-color: #cb202d;
    color: #ffffff;
}

/**
 *	-------------------------------------------------------------------------------
 *	 ( 06 ) - Widgets
 *	-------------------------------------------------------------------------------
 *
 */
.blog-sidebar .blog-widget{
    margin-bottom: 30px;
    border: 1px solid #e2e2e2;
    background-color: #ffffff;
    position: relative;
    padding: 0;
    border-radius: 5px;
}

.blog-sidebar .blog-widget h3{
    padding: 0;
    margin: 30px 0 30px 0;
    font-weight: 600;
    font-size: 24px;
    color: #444444;
    letter-spacing: 1px;
    line-height: 20px;
}

.blog-sidebar .color-widget{
    /*border: 5px solid #F10000;*/
    background: #cb202d;
    width: 100%;
    height: 400px;
    display: block;
    margin-bottom: 30px;
    padding: 30px;
}

.blog-sidebar .color-widget h3{
    padding: 0;
    margin: 0 0 10px 0;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    letter-spacing: 1px;
    line-height: 20px;
}

.blog-sidebar .color-widget p{
    padding-bottom: 10px;
    margin: 0;
    color: #ffffff;
    font-size: 15px;
    line-height: 25px;
}

.blog-sidebar .color-widget img{
    width: 160px;
    height: 50px;
    margin-bottom: 30px;
}

.blog-sidebar .widget-forms{
    width: 100%;
    display: block;
    background: #ffffff;
    margin: 10px 0 0 0;
    border-radius: 5px;
    padding: 26px 0;
}

.blog-sidebar .widget-forms .subscribe-form{
    width: 60%;
    height: auto;
    background: none;
    float: left;
    margin: -20px 0 0 23px;
    font-style: normal;
    color: #dddddd;
    font-size: 14px;
}

.blog-sidebar .widget-forms .subscribe-form input{
    border: none;
    font-style: normal;
    font-size: 15px;
}

.blog-sidebar .blog-widget .widget-body {
    display: inline-block;
    padding: 20px 34px 30px 34px;
    width: 100%;
}

.blog-sidebar .blog-widget .widget-body > ul {
    list-style-type: none;
    margin-top: -20px;
    padding: 0;
    display: block;
}

.blog-sidebar .blog-widget .widget-body > ul li {
    padding: 5px 10px;
    line-height: 10px;
    font-size: 11px;
    text-transform: uppercase;
    display: inline-block;
}

.blog-sidebar .blog-widget .widget-body > ul li a {
    color: #444444;
    text-decoration: none;
}

.blog-sidebar .blog-widget .widget-body > ul li a:hover {
    color: #cb202d;
}

.sidebar .widget .widget-content > ul li:last-child {
    margin-bottom: -33px;
    border-bottom: none;
}

.blog-widget .widget-category {
    margin: 0;
    padding: 0;
}

.blog-widget .widget-category a {
    display: inline-block;
    line-height: 13px;
    font-weight: normal;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid #cb202d;
    background-color: #FFFFFF;
    padding: 8px 5px 5px 5px;
    margin-bottom: 5px;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.blog-widget .widget-category a:hover {
    text-decoration: none;
    background-color: inherit;
    border: 1px solid #F10000;
    color: #ffffff;
}

.blog-widget .widget-tags {
    margin: 0;
    padding: 0;
}

.blog-widget .widget-tags a {
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    font-weight: normal;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0;
    border: 1px solid #cb202d;
    background-color: #cb202d;
    padding: 7px 13px;
    margin-bottom: 5px;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.blog-widget .widget-tags a:hover {
    text-decoration: none;
    background-color: #F10000;
    border: 1px solid #F10000;
    color: #ffffff;
}

.well{
    background: inherit;
    border: none;
    margin-bottom: 0;
}

@media (max-width: 991px) {
    .color-widget{
        min-height: 400px;
    }
}

/**
 *	-------------------------------------------------------------------------------
 *	 ( 07 ) - Comments
 *	-------------------------------------------------------------------------------
 *
 */
#comments{
    margin: 10px 60px 60px 60px;
}

#comments .comments-wrapper ol.comment-list {
    padding: 0;
    list-style-type: none;
    margin: 0 0 60px;
}

#comments .comments-wrapper ol.comment-list li {
    overflow: hidden;
    display: block;
}

#comments .comments-wrapper ol.comment-list li article {
    overflow: hidden;
    display: block;
    width: 100%;
}

#comments .comments-wrapper ol.comment-list li article .comment-body {
    margin-top: 20px;
    /*margin-left: 90px;*/
}

#comments .comments-wrapper ol.comment-list li article .comment-body .meta-data {
    overflow: hidden;
    /*margin-bottom: 15px;*/
}

#comments .comments-wrapper ol.comment-list li article .comment-body .meta-data span{
    display: inline-block;
    margin: 0 10px;
}

#comments .comments-wrapper ol.comment-list li article .comment-body .meta-data .comment-author {
    /*display: block;*/
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #444444;
    line-height: 28px;
    margin: 0;
    padding: 0;
}

#comments .comments-wrapper ol.comment-list li article .comment-body .meta-data .comment-date {
    font-size: 12px;
    color: #444444;
}

#comments .comments-wrapper ol.comment-list li article .comment-body .comment-content {
    margin: 0;
    padding: 0;
}

#comments .comments-wrapper ol.comment-list li article .comment-body .comment-content p {
    color: #444444;
    font-size: 14px;
    line-height: 28px;
    margin: 10px 0 20px 0;
}

#comments .comments-wrapper ol.comment-list li ul,
#comments .comments-wrapper ol.comment-list li ol {
    padding-left: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-name span{
    font-size: 15px;
    color: #C90000;
}

article.article-item .article-body.article-comments {
    padding: 0 60px;
}

article.article-item .article-body.article-comments .comment-form input {
    width: 100%;
    border: 1px solid #e2e2e2;
    outline: none;
    margin-bottom: -5px;
    padding: 20px;
}

article.article-item .article-body.article-comments .comment-form textarea {
    outline: none;
}

article.article-item .article-body.article-comments .comment-form .input-name {
    color: #444444;
    font-size: 15px;
    margin-bottom: 0;
    padding: 0;
}

article.article-item .article-body.article-comments .comment-form .comment-submit {
    display: block;
    margin: 30px 0 0 0;
    float: left;
}

/**
 *	-------------------------------------------------------------------------------
 *	 ( 08 ) - Footer
 *	-------------------------------------------------------------------------------
 *
 */
footer {
    background: #3e4249;
    color: white;
    padding: 20px 0 10px;
    font-size: 15px;
}

footer a {
    color: white;
    text-transform: uppercase;
}

footer a:hover {
    color: #cb202d;
}

/**
 *	-------------------------------------------------------------------------------
 *	 ( 09 ) - Back to Top
 *	-------------------------------------------------------------------------------
 *
 */
.back-to-top{
    display: block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    white-space: nowrap;
    background: rgba(100, 100, 100, 0.4);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    transition: all 0.8s ease;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
}

.back-to-top:hover,
.back-to-top:focus,
.back-to-top:active{
    background-color: #cb202d;
}

.back-to-top i{
    padding-top: 4px;
    color: #ffffff;
    font-size: 28px;
}

.back-to-top.cd-is-visible {
    visibility: visible;
    opacity: 1;
}

.back-to-top.cd-is-visible,
.back-to-top.cd-fade-out {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
}


/**
 *	-------------------------------------------------------------------------------
 *	 ( 10 ) - Login
 *	-------------------------------------------------------------------------------
 *
 */
.panel-login {
    margin-top: 50px;
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align:center;
}
.panel-login>.panel-heading a{
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
    color: #029f5b;
    font-size: 18px;
}
.panel-login>.panel-heading hr{
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}
.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}

.hide {
    display: none;
}
