html,
body {
    margin:0;
    padding:0;
    height:100%;
}

body{
    background: #F2F2F2;
    font-family: 'Josefin Sans', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Merriweather', serif;
}

.main-content {
    background: url("../images/Blog_Login_Background.jpg") no-repeat center center fixed;
    /*background: url("hero-bg.jpg") no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height:100%;
    position:relative;
}

#login-section{
    margin-top: 50px;
}

.input {
    overflow: hidden;
    background: #fff;
    position: relative;
    z-index: 1;
    margin: 10px;
    max-width: 350px;
    width: calc(100% - 2em);
    vertical-align: top;
}

.input_fields {
    position: relative;
    float: right;
    border: none;
    border-radius: 0;
    color: #000000;
    font-weight: normal;
    padding: 0.85em 0.85em 0.85em 3em;
    width: 100%;
    background: transparent;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.input_label {
    position: absolute;
    padding: 15px 0 0;
    width: 10px;
    height: 100%;
    display: inline-block;
    float: right;
    font-weight: normal;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input_label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 40px;
    height: 100%;
    background: #37474f;
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.icon {
    color: #fff;
    font-size: 20px;
    margin-left: 7px;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.input_fields:focus {
    outline: none;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.input_fields:focus + .input_label::before {
    -webkit-transform: scale3d(0.8, 1, 1);
    transform: scale3d(0.8, 1, 1);
}

.input_fields:focus + .input_label .icon {
    -webkit-transform: scale3d(0.6, 0.6, 1);
    transform: scale3d(0.6, 0.6, 1);
}

.button {
    min-width: 350px;
    max-width: 250px;
    display: block;
    margin: 30px 10px 0 10px;
    padding: 10px 20px;
    border: none;
    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}
.button:focus {
    outline: none;
}

.button-bg .button {
    color: #fff;
    border-color: #fff;
}

.button-custom {
    border: 3px solid;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition: border-color 0.4s, color 0.4s;
    transition: border-color 0.4s, color 0.4s;
}

.button-custom::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 14px;
    background: #37474f;
    z-index: -1;
    opacity: 0;
    -webkit-transform: scale3d(0.7, 1, 1);
    transform: scale3d(0.7, 1, 1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button-custom:hover {
    color: #fff;
    border-color: #37474f;
}

.button-custom:hover::before {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
    background:#37474f;
}

footer p{
    color: white;
    padding-top: 20px;
}